html,body {
    font-family: 'Open Sans', sans-serif;
    background: #F0F2F4;
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }

hr {
    background-color: #909090;
}

pre {
    background-color: #d0d2d4;
}

.blog-footer {
    background-color: #443322!important;
    color : #ffffff!important;
}

/* Don't mess around with styling yet.
 *
.tag:not(body).is-link {
    background-color: #664433;
}

a {
    color: #664433
}

p a {
    color: #FF66FF
}

a:hover {
    color: #FF4433
}

*/
