{{ define "open-graph" }}
<meta property="og:title" content="{{.Title}}" />
<meta property="og:type"  content="article" />
<meta property="og:url"   content="{{.Permalink}}" />
<meta property="og:image" content="" />
{{ end }}

{{ define "middleColumn" }}

<div class="tile is-child box">
    <div class="content">
    <h3>{{ .Title }}</h3>
        {{- range $tag := .Param "tags" }}
            {{ with $.Site.GetPage (printf "/tags/%s" (lower $tag)) -}}
            <a href="{{.Permalink}}">
                <span class="tag is-link">{{ $tag }}</span>
            </a>
            {{ end}}
        {{ end -}}
    <hr>
        {{ .Content }}
    </div>
</div>
{{ partial "post-nav.html" . }}
{{ partial "comment.html" . }}

{{ end }}
