
<!-- social partial start -->

{{ $size := ( .Site.Params.socialIconSize | default "large") }}

{{ $span_class := "is-large" }}
{{ $icon_class := "fa-3x" }}
{{ if (eq $size "small") }}
    {{ $span_class = "is-small" }}
    {{ $icon_class = "fa-1x" }}
{{ else if (eq $size "medium") }}
    {{ $span_class = "is-medium" }}
    {{ $icon_class = "fa-2x" }}
{{ end }}


{{/* We make the unwarranted assumption that the name of the service is the same as website */}}

{{ range $serv, $userid := .Site.Social }}
    <span class="icon {{$span_class}}">
        <a href="https://{{$serv}}.com/{{$userid}}" class="mysocial">
            <i class="fab fa-{{$serv}} {{$icon_class}}"></i>
        </a>
    </span>
    &nbsp;&nbsp;
{{ end }}

<!-- social partial end -->
