{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                {{ range first 1 (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}
                <h3>{{ .Title }}</h3>
                    {{- range $tag := .Param "tags" }}
                        {{ with $.Site.GetPage (printf "/tags/%s" (lower $tag)) -}}
                <articleTag><a href="{{.Permalink}}">{{ $tag }}</a></articletag>
                        {{ end}}
                    {{ end -}}
                <hr>
                    <article class="media">
                        <div class="media-content">
                            <div class="content"> {{ .Content }}</div>
                        </div>
                    </article>
                    {{ $postDate :=  .Date }}
                    {{range first 1  ( where (where .Site.RegularPages "Section" "post")  "Date" "lt" $postDate).ByPublishDate.Reverse }}
                    <a href="{{.Permalink}}"><i class="fas fa-arrow-left"></i>&nbsp;{{ .Title }} </a>
                    {{end}}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
