{{ define "middleColumn" }}

<div class="tile is-child box">
    <div class="content">
        {{ range first 1 (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}
        <h3>{{ .Title }}</h3>
            {{- range $tag := .Param "tags" }}
                {{ with $.Site.GetPage (printf "/tags/%s" (replace (lower $tag) " " "-")) -}}
            <a href="{{.Permalink}}">
                <span class="tag is-link">{{ $tag }}</span>
            </a>
                {{ end}}
            {{ end -}}
        <hr>
        {{ .Content }}
        {{ end }}
    </div>
</div>
{{ partial "post-nav.html" . }}
{{ end }}
